@{
    ViewData["Title"] = "Home Page";
}

    
        <h1 class="display-1 text-dark">Travel Wish List</h1>
        <h2 class="text-dark">I haven't been everywhere, but it's on my list!</h2>
        
        @*@section Background{
        <style type="text/css">
            body {
                background-image: url("~/images/newImage.jpg");
                margin: 0;
            }
        </style>
        }*@
