.body {
    background: url(../images/image7.jpg) center center fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 15px;
    color: midnightblue;
    
}

    .body main {
        padding-left: 200px;
    } 

.navbar {
    padding: 0;
    
}



.navbar ul li {
        position: center;
        padding: 10px;
        margin: 10px;
        left: 0px;
        display: inline-block;
        font-size: x-large;
}

.navbar button {
    font-size: x-large;
}

.footer {
    text-align: center;
}


